<div id="<%= dom_id tweet %>">
  <tr class="table-light">
    <th class="ancho-100 text-start" scope="row"> <%= tweet.id %> </th>
    <td class="ancho-350 text-start"> <%= tweet.description %> </td>
    <td class="ancho-350 text-start"> <%= tweet.username %> </td>
    <td class="ancho-100 text-start"> <%= link_to "Editar",   tweet, class: "btn btn-success" %> </td>
    <td class="w-10 text-start"> <%= link_to "Eliminar", tweet, class: "btn btn-danger" %> </td>
  </tr>
</div>